{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
<a href="{{path('addPhoto')}}">Ajouter photo</a>

    <h1>Dash Board</h1>

    <h2>Liste des photos</h2>

    {% if photos|length > 0 %}
        {% for photo in photos %}
            <article>
                <a href="{{path('show',{id:photo.id})}}"><h2>{{photo.title}}</h2></a>
                <p>{{photo.description}}</p>
            </article>   
        {% endfor %}
    {% else %}
        <p>Pas de photos</p>
    {% endif %}

    
{% endblock %}

